<%= render "shared/banner"%>

<div class="cards container my-5">
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= list.name %>
      </div>
    </div>
    <% end %>
  </div>


</div>
